.book-now-content {
    background-color: #f9f9f9;
    padding: 20px 20px;  
    margin-top: -400px;
    max-width: 1308px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; 
      
}
.book-now-content h1 { 
    font-size: 36px;
    color: #4B3621; 
    margin-bottom: 20px;
    margin: 0 auto 20px;
    max-width: 800px;
    text-align: center;

}
.book-now-content p {
    font-size: 18px;
    color: #4B3621;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

@media (max-width: 1024) {
    .book-now-content {
      background-color: #f9f9f9;
      padding: 20px 20px;
      text-align: center;
      margin-top: -400px;
    }
  }
  
  @media (max-width: 768px) {
    .book-now-content {
      background-color: #f9f9f9;
      padding: 20px 20px;
      text-align: center;
      margin-top: -170px;
    }
  }

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
}

.logo-hr {
    width: 100vw;
    border: 0;
    height: 2px;
    background-color: #000;
    margin-top: 100px;
    margin-bottom: 20px;
}

.welcome-section {
    text-align: left;
    margin-bottom: 30px;
}

.welcome-section h1 {
    font-size: 2rem;
    color: #4B3621;
}

.welcome-section p {
    font-size: 1.1rem;
    color: #333;
    max-width: 900px;
    margin: 0 auto;
}

.search-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: justify;
}


.search-form h2 {
    font-size: 1.5rem;
    color: #4B3621;
    margin-bottom: 20px;
}


.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

.input-group,
.select-group {
    margin-bottom: 15px;
}

.input-group label,
.select-group label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.select-group select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-btn {
    background-color: #4B3621;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #3a2c1f;
}

.table-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.table-image img {
    max-width: 50%;
    height: auto;
    border: 5px solid #4B3621;
    border-radius: 8px;
}

.additional-info {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1rem;
    color: #333;
}

.additional-info li {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    color: #4B3621;
    line-height: 1.6;
    margin: 0 auto;
}

.additional-info h3 {
    font-size: 36px;
    color: #4B3621; 

    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.additional-info a {
    color: #4B3621;
    text-decoration: none;
}

.additional-info a:hover {
    text-decoration: underline;
}


.book-with-us-section {
    text-align: left;
    margin-bottom: 30px;
}

.book-with-us-section h1 {
    font-size: 2rem;
    color: #4B3621;
}

.book-with-us-section p {
    font-size: 1.1rem;
    color: #333;
    max-width: 900px;
    margin: 0 auto;
}


.checkbox-group div {
    margin-bottom: 15px;
}

.checkbox-group label {
    margin-left: 10px;
}