.login-container {
	background-color: #f9f9f9;
	padding: 20px 20px;  
	margin-top: -400px;
	max-width: 1308px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px; 
	
}

.login-container h2 {
	font-size: 36px;
	color: #4B3621; 
	margin-bottom: 20px;
	margin: 0 auto 20px;
	max-width: 800px;
	text-align: center;
}

.login-container label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.login-container input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.login-section {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	text-align: justify;
}
button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

button:hover {
	background-color: #0056b3;
}

.error-msg {
	color: #e74c3c;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}
